In [1]:
import requests
import pandas as pd
from tqdm import tqdm

In [2]:
rainfall_df = pd.read_csv('./data/district wise rainfall normal.csv')
rainfall_df.head()

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1

In [3]:
def get_lat_long(district,state):
    location = f'{district},{state}'

    url = "https://www.latlong.net/_spm4.php"
    payload=f'c1={location}&action=gpcm&cp='
    
    headers = {
    'authority': 'www.latlong.net',
    'accept': '*/*',
    'accept-language': 'en-GB,en;q=0.9',
    'content-type': 'application/x-www-form-urlencoded',
    'cookie': 'PHPSESSID=3fundt3sste9m9j5nrrq1ijuf3; OptanonConsent=isGpcEnabled=1&datestamp=Sat+Feb+11+2023+17%3A07%3A14+GMT%2B0530+(India+Standard+Time)&version=6.34.0&isIABGlobal=false&hosts=&landingPath=https%3A%2F%2Fwww.latlong.net%2Fconvert-address-to-lat-long.html&groups=C0003%3A1%2CC0004%3A0%2CC0002%3A1%2CC0001%3A1',
    'origin': 'https://www.latlong.net',
    'referer': 'https://www.latlong.net/convert-address-to-lat-long.html',
    'sec-ch-ua': '"Not_A Brand";v="99", "Brave";v="109", "Chromium";v="109"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Linux"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-origin',
    'sec-gpc': '1',
    'user-agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36',
    'x-requested-with': 'XMLHttpRequest'
    }

    return '13.347490,77.102173'

    response = requests.request("POST", url, headers=headers, data=payload)
    return response

In [6]:
lats = list()
longs = list()

for index, district_match in tqdm(rainfall_df.iterrows(),total=len(rainfall_df)):
    coord = None
    district = district_match['DISTRICT']
    state = district_match['STATE_UT_NAME']
    resp = get_lat_long('LOHIT', 'ARUNACHAL PRADESH')
    lat ,long = resp.split(',')

    lats.append(lat)
    longs.append(long)


rainfall_df['lat'] = lats
rainfall_df['longs'] = longs

rainfall_df

100%|██████████| 641/641 [00:00<00:00, 25028.85it/s]

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,...,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec,lat,longs
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,...,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1,13.347490,77.102173
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,...,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3,13.347490,77.102173
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,...,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7,13.347490,77.102173
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,...,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0,13.347490,77.102173
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,...,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1,13.347490,77.102173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,KERALA,IDUKKI,13.4,22.1,43.6,150.4,232.6,651.6,788.9,527.3,...,343.2,172.9,48.1,3302.5,35.5,426.6,2276.2,564.2,13.347490,77.102173
637,KERALA,KASARGOD,2.3,1.0,8.4,46.9,217.6,999.6,1108.5,636.3,...,234.9,84.6,18.4,3621.6,3.3,272.9,3007.5,337.9,13.347490,77.102173
638,KERALA,PATHANAMTHITTA,19.8,45.2,73.9,184.9,294.7,556.9,539.9,352.7,...,359.4,213.5,51.3,2958.4,65.0,553.5,1715.7,624.2,13.347490,77.102173
639,KERALA,WAYANAD,4.8,8.3,17.5,83.3,174.6,698.1,1110.4,592.9,...,213.1,93.6,25.8,3253.1,13.1,275.4,2632.1,332.5,13.347490,77.102173
640,LAKSHADWEEP,LAKSHADWEEP,20.8,14.7,11.8,48.9,171.7,330.2,287.7,217.5,...,157.1,117.7,58.8,1600.0,35.5,232.4,998.5,333.6,13.347490,77.102173

In [7]:
rainfall_df.to_csv('./data/rainfall_lat_long.csv')